.main-div {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: #000000c4;
  top: 0px;
  margin: 0px;
  flex-direction: column;
  color: white;
}

.main-div.active {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}
.main-div {
  text-align: center;
  padding: 20px;
}
input {
  padding: 10px 50px;
  margin: 10px;
}
.button {
  color: white;

  border: none;
  cursor: pointer;
}

.box {
  max-width: 600px;
  background: #fff;
  width: 100%;
  border-radius: 5px;
  padding: 50px;
}
.close {
}
.btn button {
  margin: 20px;
  background-color: bisque;
}
